<p id="notice"><%= notice %></p>

<h1>Book1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book1s.each do |book1| %>
      <tr>
        <td><%= book1.title %></td>
        <td><%= book1.author %></td>
        <td><%= book1.publication_year %></td>
        <td><%= link_to 'Show', book1 %></td>
        <td><%= link_to 'Edit', edit_book1_path(book1) %></td>
        <td><%= link_to 'Destroy', book1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book1', new_book1_path %>
